html, body {
  position: relative;
  height: 100%;
}

body {
  background-image: url("./../media/rat-chug.gif");
  background-size: 120px 120px;
  font-family: 'Roboto';
  background-position: center;
}

p {
  font-size: 350px;
  text-align: center;
  margin: 0;
  height: 350px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

audio {
  display: none;
}